.Table {
    width: 100%;
    height: 100%;
    background: black;
}

.Container{
    position: relative;
    display: inline-block;
}

.Overlay{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}