.Tile {
    position: relative;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    }

.right{
    transform: rotate(90deg);
}
.down{
    transform: rotate(180deg);
}
.left{
    transform: rotate(270deg);
}


.anti-right{
    transform: rotate(-90deg);
}
.anti-down{
    transform: rotate(-180deg);
}
.anti-left{
    transform: rotate(-270deg);
}

.container{
    height:100%;
    width:100%;
    line-height: 100px;
}